.navbar-logo-about{
    height: 280px;
    width: auto;
   
}

.backExercise-image{
    height: 400px;
    width: auto;
}

.Dbells{
    height: 400px;
    width: auto;
}

.Dlift{
    height: 400px;
    width: auto;
}


.AboutUsH1{
    text-decoration: underline  #C8B479;
    font-family: "Raleway", sans-serif; 
}

.p{
    font-family: "Raleway", sans-serif; 
    
}




@media (max-width: 768px){
    .navbar-logo-about{
        height: 190px;
        width: auto;
    }

    .aboutClientImg{
        max-height:110px ;
        max-width: 110%;
    }
}