.navbar-logo-about{
    height: 280px;
    width: auto;
    margin-right: auto;
}

.backExercise-image{
    height: 400px;
    width: auto;
}

.Dbells{
    height: 400px;
    width: auto;
}

.Dlift{
    height: 400px;
    width: auto;
}


.container h1{
    text-decoration: underline  #C8B479;
    font-family: "Raleway", sans-serif; 
}

.p{
    font-family: "Raleway", sans-serif; 
    
}
