/* Checkout form container */
.checkout-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f5f5f5; /* Light gray background for the form */
    border: 2px solid #c8b479; /* Thicker gold border */
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align the form fields */
  }
  
  /* Form title styling */
  .checkout-container h1 {
    color: #392f5b; /* Dark purple color */
    text-align: center;
    margin-bottom: 30px; /* Increased margin-bottom for more space */
  }
  
  /* Form field group styling */
  .form-group {
    width: 100%; /* Full width of the form group */
    max-width: 400px; /* Maximum width for form fields */
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align the form fields */
  }
  
  /* Labels */
  .form-group label {
    display: block;
    margin-bottom: 10px;
    color: #392f5b; /* Dark purple color for the text */
    font-weight: bold; /* Make the labels bold */
    width: 100%;
    text-align: left;
  }
  
  /* Input fields */
  .form-group input[type="text"],
  .form-group input[type="tel"],
  .form-group input[type="email"],
  .form-group input[type="date"],
  .form-group input[readonly] {
    width: 100%;
    padding: 12px; /* Slightly more padding */
    border: 1px solid #ddd; /* Light gray border */
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  /* Submit button styling */
  .submit-button-checkOut{
    width: 100%;
    max-width: 400px; /* Maximum width for the button */
    padding: 12px;
    border: none;
    background-color: #392f5b; /* Dark purple background */
    color: #ffffff; /* White text */
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px; /* Space above the submit button */
  }
  
  /* Hover effect for the submit button */
  .submit-button-checkout:hover {
    background-color: #2e2454; /* A slightly darker purple on hover */
  }


  /* Checkout.css içine ekleyebileceğiniz stil tanımları */

  /* org */
.order-success-notification {
  position: fixed;
  left: 50%;
  bottom: 120px;
  transform: translateX(-50%);
  background-color: #392F5B; ; /* bc color */
  color: white; /* Bfont color */
  padding: 15px 30px;
  border-radius: 25px; 
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2); 
  z-index: 1000; /* dominant font*/
  font-size: 16px; 
  font-weight: bold; 
  opacity: 1; /* you can see it in the start */
  transition: opacity 0.5s ease-in-out; /* Opacity animation */
}


.read-only-input {

  font-weight: bold; /* Make the text bold */
  font-size: 1.2em; /* Increase the font size */
  color: #212529; /* Bootstrap's default text color for contrast */
  text-align: center; /* Center the text */
}





  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .checkout-container {
      padding: 15px;
    }
  
    .submit-button, .form-group {
      width: calc(100% - 30px); /* Slight adjustment for smaller screens */
    }
  }
  
  