.background-video {
    position: relative;
    width: 100%;
    height: 410px; /* Fast høyde */
    overflow: hidden;
  }
  
  .background-video video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* for at videoen skal dekke siden. */
  }
  
  .buttons-container {
    position: absolute;
    top: 80%; 
    left: 50%; 
    transform: translate(-50%, -50%); /* Perfekt sentrering */
    display: flex;
    gap: 20px; /* Gir litt mellomrom mellom knappene */
    z-index: 10;
    
  }
  
  .btn-home {
    padding: 10px 20px; /* Gir litt plass inne i knappene */
    border-radius: 0;
    border: solid #C8B479;
    background-color: #ffffff;
    cursor: pointer;
    transition: background-color 0.5s ease; /* En liten animasjon for hover */
    font-size: 50px;
    font-family: sans-serif;
    font-weight: 600;
    width: 300px;
    padding: 0;
  }
  
  .btn-home:hover {
    background-color: #dddddd; /* Endrer bittelitt farge ved hover, men det skal jeg evt endre etterhvert. sånn foreløpig */
    transform: scale(1.1);
  }

  
 
  
  @media (max-width: 768px) {
    .background-video video {
      width: 100%;
      height: 100%;
      object-fit: fill
    }

    .btn-home {
      font-size: 23px;
      font-family: sans-serif;
      width: 120px;
      
    }
    
}