.background-video {
    position: relative;
    width: 100%;
    height: 500px; /* Fast høyde */
    overflow: hidden;
  }
  
  .background-video video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* for at videoen skal dekke siden. */
  }
  
  .buttons-container {
    position: absolute;
    top: 80%; 
    left: 50%; 
    transform: translate(-50%, -50%); /* Perfekt sentrering */
    display: flex;
    gap: 20px; /* Gir litt mellomrom mellom knappene */
    z-index: 10;
  }
  
  .btn {
    padding: 10px 20px; /* Gir litt plass inne i knappene */
    border: none;
    background-color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease; /* En liten animasjon for hover */
  }
  
  .btn:hover {
    background-color: #dddddd; /* Endrer bittelitt farge ved hover, men det skal jeg evt endre etterhvert. sånn foreløpig */
  }
  
  @media (max-width: 768px) {
    .background-video video {
      width: 100%;
      height: 100%;
      object-fit: fill
    }
}