.container-login{
    display: flex;
    justify-content: center;
   margin-top: 50px;
    min-height: 100vh;
}

.loginForm{
    width: fit-content;
    max-width: 500px;
    padding: 40px;
    border-radius: 8px;
    text-align: center;
    
}

form h1{
    text-decoration: underline #C8B479;
    font-family: "Raleway", sans-serif;
}

.form-group label{
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-family: "Raleway", sans-serif;
    margin-top: 10px;
}

.form-group input{
    width: 100%;
    padding: 10px;
    border: 2px solid #C8B479;
    border-radius: 4px;
}

.login .btn-primary{
    width: 100%;
    padding: 10px;
    border: 2px solid #C8B479;
    border-radius: 4px;
    background-color: #392F5B;
    border-color: #C8B479;
    margin-top: 20px;
    cursor: pointer;
    color: white;
    font-family: "Raleway", sans-serif;
    font-size: 25px;
}

.back-link{
    display: block;
    margin-top: 20px;
    text-decoration: none;
}
.loginButton{
    padding: 5px 15px 5px 15px;
}
.loginButton{
    width: 100px;
} 


@media (max-width: 768px) {

    .container-login{

       margin-top: 80px;
       
    }

    
}