.merchItemImg{
    height: 200px;
    width:206px
}

.merchItemLink {
    text-decoration: none; 
    color: inherit; 
}
.merchItemDiv{
    font-family: 'Raleway', sans-serif;
}

.merchItemName{
    margin-bottom: auto;
    display: flex;
    text-align: center;
}
.merchItemDiv:hover {
    transform: scale(1.05);
    transition: transform 0.5s;
  }

  .soldOut {
    /* not touchble */
    pointer-events: none;
    /*sold out etikett on the product */
    position: relative;
  }
  
  .soldOut::after {
    content: 'Sold out';
    color: white;
    background-color: red;
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
  }
  

@media (max-width: 768px) {
    .merchItemImg{
        height: 100px;
        width: 120px; ;
    }

}



