body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.py-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.privacyH1{
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 5px;
}


.py-container p {
    margin-bottom: 10px;
}

.ppp {
    font-weight: bold;
    margin-top: -40px;
}
