.sCardTitler {
    font-size: 30px;
    font-family: "Times New Roman", Times, serif;
    border-bottom: solid #c8b479;
    margin-left: 8px;
    margin-right: 8px;
   
  }
@media (max-width: 768px) {
    .non-responsive-product{
        display: none;
    }

}