.sCardTitler {
    font-size: 30px;
    font-family: "Times New Roman", Times, serif;
    border-bottom: solid #c8b479;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 15px;
   
  }

  .summaryDiv{
    font-family: sans-serif;
    font-size: large;
    
  }


@media (max-width: 768px) {
    .sCardTitler{
        display: none;
    }
    .sCardContainer {
       margin-top: 0;
    }
   
}