@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

:root {
    --primary-color:  #392F5B;
    --text-color: #333;
    --background-color:  #D9D9D9;
    --link-color: #000ff;
    --aspect-ratio: 56.25%
}

/* body {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: var(--text-color);
    background-color: var(--background-color);
    margin: 0px;
    padding: 20px;
    display: flex;
    justify-content: center;
    min-height: 100vh;
} */

.instagram-section {
    width: 100%;
    margin: auto;
}

.instagram-section h2{
    text-align: center;
    margin-bottom: 1rem;
}

.instagram-feed{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 2%;
    justify-items: stretch;
    align-items: stretch;
    padding: 20px;
    width: calc(100% - 40px);
    max-width: 1200px;
    margin: auto;
}


.instagram-video {
    width: 100%;
    height: auto;
    object-fit: cover;
    position: relative;
    overflow: hidden;
    padding-top: var(--aspect-ratio);
    border-radius: 4px;
    border: 3px solid #c8b479;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.instagram-video img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;   
}

.instagram-video {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: block; 
}

.instagram-video:hover {
    transform: scale(1.05); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}


#load-more {
    display: block;
    width: 150px;
    margin: 2rem auto;
    padding: 10px;
    background-color: white;
    color: black;
    border: 1px solid #C8B479;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

.instagram-header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #D9D9D9;
    padding: 10px 0;
    text-align: center;
}

.instagram-header h2 {
    margin: 0;
    padding-bottom: 5px;
    position: relative;
}

.instagram-header h2::after{
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #C8B479;
    position: absolute;
    left: 0;
    bottom: 0;
}

.logo-subtext {
    font-size: 16px;
    color: var(--text-color);
    margin-top: 5px;
    text-align: center;
}

.logo {
    width: 50px;
    height: 50px;
}

.insta-follow-btn {
    display: flex;
    align-items: center;
    background-color: white;
    border: 1px solid #C8B479;
    color: black;
    padding: 6px 10px;
    margin: 10px;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

}


.insta-follow-btn .instagram-icon{
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

.insta-follow-btn {
    transition: all 0.3s ease; 
  }
  
  
  .insta-follow-btn:hover {
    background-color: #392F5B;
    color: white; 
    transform: scale(1.05); 
  }

.insta-follow-btn, #load-more {
    padding: 12px 20px 12px;
    font-size: 1em;
}

#load-more:hover {
    background-color: #392F5B;
    color: #FFFFFF;
    cursor: pointer;
}

button {
    transition: background-color 0.3s ease;
}

img, video {
    max-width: 100%;
    height: auto;
}



h2 {
    font-size: 1.5em;
}


@media (max-width: 992px) {
    .instagram-feed {
        /* For medium-sized screens, display 3 columns */
        grid-template-columns: repeat(3, 1fr);
    }
}




@media (max-width: 768px) {
    .instagram-feed {
        /* On smaller screens, reduce the number of columns to 2 */
        grid-template-columns: repeat(2, 1fr);
    }
}


/* Media query for very small screens */
@media (max-width: 480px) {
    .instagram-feed {
        /* On very small screens, have only 1 column */
        grid-template-columns: 1fr;
    }
}



@media (max-width: 768px) {
    .instagram-header {
        flex-direction: column;
    }
}
