/*This is the container for the add page*/
.add-container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 20px;
}



/*style/css for form*/
.addForm {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  margin-top: 20px;
}

.addForm label {
  display: block;
  margin-bottom: 10px;
}

/*Styling input here*/
.addForm input[type="text"],
.addForm select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/*stylign form add button here*/
.addForm button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 12px 20px;
  border-radius: 4px;
  cursor: pointer;
}

/*this is hover*/
.addForm button:hover {
  background-color: #0056b3;
}


.productAddSizeDiv {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin-top: 20px;
}

.productAddSizeDiv h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

/*code for size selections*/
.size-section {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.size-section label {
  margin-right: 10px;
}

/* Responsive code */
@media (max-width: 767px) {
  .container {
    padding: 10px;
  }

  .addForm input[type="text"],
  .addForm select {
    width: calc(100% - 20px);
  }
}