.dashBoardProducts{
    text-decoration: none;
}

.productLinkInnerDiv{
 
    
}

.leftSideCol{
    border-style: solid;
    height:100%;
    border-style: ridge;
    border-left: hidden;
    border-top: hidden;
}

.rightSideCol{
    border-style: solid;
    height:100%;
    border-style: ridge;
    border-right: hidden;
    border-top: hidden;
}

.dashBoardRow{
    height: 100%;

}
.dashBoardContainer{
    height: 100vh;
}