/* Custom styles for the responsive table */
.table-responsive {
    padding: 1rem;
  }
  .size-quantity{
  
  }
  
  .product-table-header{
    margin-left: 1rem;
  }
  @media (max-width: 768px) {
    .table-responsive {
      margin-top: 40px; /* value based on navbar's height */
    }
    .product-table-header{
      margin-left: 0
    }
  }
  