.dashBoardProducts{
    text-decoration: none;
}

p.ingenresultat{
  max-width: 200px; /* or any other value */
  margin-left: auto;
  margin-right: auto;
}

h3.titlemail{
  justify-content: center;
  max-width: 600px; /* or any other value */
  margin-left: auto;
  margin-right: auto;
}

.leftSideCol{
    border-style: solid;
    height:100%;
    border-style: ridge;
    border-left: hidden;
    border-top: hidden;
}

.rightSideCol{
    border-style: solid;
    height:100%;
    border-style: ridge;
    border-right: hidden;
    border-top: hidden;
}

.dashBoardRow{
    height: 100%;

}
.dashBoardContainer{
    height: 100vh;
}

.SideCol{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.SideCol > h1 {
    margin-top: 1rem;
    text-align: center;
    margin-bottom: 2rem;
}
  
  .email-list{
    margin-top: 40px;
    justify-content: center;
    max-width: 600px; /* or any other value */
    margin-left: auto;
    margin-right: auto;
    max-height: 300px; /* Adjust this value to your preference */
    overflow-y: auto;
    border: 1px solid #ccc; /* Optional: adds a border around the email list */
    margin: 0 auto; /* Centers the list if the parent is also centered */
    width: 90%; /* Adjust the width as necessary */
  }
  .email-list li {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    margin-top: -1px;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.2s;
    list-style-type: none;
    padding: 10px;
    justify-content: center;
  }

  .email-list ul{
    padding: 10px;
    
  }
  
  .email-list li:hover {
    background-color: #efefef;
  }

  form {
    max-width: 600px; /* or any other value */
    margin-left: auto;
    margin-right: auto;
  }
  
  form input[type="email"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 250px;
    justify-content: center;
  }
  
  form button {
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    max-width: 600px; /* or any other value */
    margin-left: auto;
    margin-right: auto;
  }
  
  form button:hover {
    background-color: #0056b3;
    justify-content: center;
    max-width: 600px; /* or any other value */
    margin-left: auto;
    margin-right: auto;
  }
  
  .searchResult {
    border: 1px solid #ddd;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    max-width: 600px; /* or any other value */
    margin-left: auto;
    margin-right: auto;
  }
  
  .searchResult p {
    margin: 5px 0;
    
  }
  
.dashBoardProducts {
    text-decoration: none;
}

.email-search-form{
  display: flex;
  justify-content: center;
}

.email-search{
  margin-top: 10px;
}


@media (max-width: 768px) {
    .leftSideCol, .rightSideCol {
        border: none; 
    }

    .dashBoardRow, .dashBoardContainer {
        height: auto; 
    }

    .SideCol > h1 {
        margin-top: 0.5rem; 
        font-size: 24px; 
    }

    form input[type="email"], form button {
        width: 100%;
        margin: 10px 0; 
        max-width: 600px; /* or any other value */
        margin-left: auto;
        margin-right: auto;
    }

    form {
        flex-direction: column;
        max-width: 600px; /* or any other value */
        margin-left: auto;
        margin-right: auto;
    }

}
@media (max-width: 480px) {

    .SideCol, .dashBoardProductsCol, .email-list li {
        width: 100%;
    }

    .dashBoardProducts {
        font-size: 18px; 
    }
}

@media (max-width: 768px) {
    div.row{
        justify-content: center;
        
        
    }

}
