body {
  background-color: #d9d9d9;
}
.responsiveSizeTittel{
  display:none;
}

.sCardContainer {
  background-color: #ffffff;
  margin-top: 25px;
  margin-bottom: 25px;
}

.sCardContainerEmpty{
  background-color: #ffffff;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 90px;
}
/* Dette justerer mellomrommet mellom product radet og titlene(product size osv.)
 .sCardContainer2 {
  
  margin-top: 20px;
} */

.productRow{
  border-bottom: solid #c8b479;
  margin-left: 8px;
  margin-right: 8px;
  
  

}
.responsiveProduct{
  display: none;
}
.productTittel{
  font-size: 19px;
  font-family: Arial, sans-serif;
  text-decoration: underline  #392f5b;
  text-align: center;
}


.quantity-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.size-box {
padding: 10px 10px;
  background-color: #d9d9d9;
  font-family: "Raleway", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  font-size: 20px;
  border-radius: 3px;
}

.quantity-btn-plus {
  background-color: #392f5b;
  border: none;
  color: white;
  padding: 0;
  font-weight: 100;
  line-height: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  transition: background-color 0.5s ease;
}

.quantity-btn-plus:hover {
  
  transform: scale(1.1);
}
.plus {
  font-size: 4rem;
  font-family: emoji;
  color: #c8b479;
}

.quantity-btn-minus {
  background-color: #392f5b;
  border: none;
  color: white;
  padding: 0;
  font-weight: 100;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border: 1px solid black;
  transition: background-color 0.5s ease;
}
.quantity-btn-minus:hover  {
  
  transform: scale(1.1);
}

.minus {
  font-size: 4rem;
  font-family: math;
  color: #c8b479;

  transform: scale(
    2.2,
    1
  ); /*Dette er for å utvide symbolen i x eksenen litt mer*/
}


.quantity-div{
  border: solid #c8b479;
  padding: 7px 18px 7px 18px;
  font-size: 28px;
  background-color: #F3E8E8;
 
}
.productPrice {
  font-size: xx-large;
  font-family: sans-serif;
  background-color: #d9d9d9;
  
  width: auto;
  border: 1px solid;
  margin-bottom: 10px;
  border-radius: 3px;
  padding: 5px;
 
}


.productImg{
  height: 90px;
  width: auto;
}


/*responsive kode kommer til å bli fjernet på større skjerm her.*/


@media (max-width: 768px) {
 
  .responsiveTittel{
    display:flex;
  }

  .size-box {

    padding: 1px 6px;
    border: 1px solid;
    font-size: 1rem;
  }

  .sCardTitler {
    font-size: 15px;
    font-family: "Times New Roman", Times, serif;
  }

  .quantity-btn-plus {
    width: 35px;
    height: 35px;
  }

  .plus {
    font-size: 3rem;
  
 
  }
  .quantity-btn-minus {
    width: 35px;
    height: 35px;
    
  }
  .minus{
    font-size: 3rem;
   
  }


  .quantity-div{
    border: solid #c8b479;
    padding: 1px 10px 1px 10px;
    font-size: 18px;
    background-color: #F3E8E8;
   
  }

  .productPrice {
    font-size: 18px;
    
    font-family: "Times New Roman, Times, serif";
    background-color: #d9d9d9;
    max-height: 50px;
    padding: 0px 5px;
    
    
  }
  .responsiveSizeTittel{
    font-size:22px;
    
    
  }
  .responsiveSizeTitteltt{
    display:flex;
  }
  .productImg{
    height: 65px;
    width: auto;
  }


  .productRow {
    margin-top: 0!important;
    margin-bottom: 0!important;
  }
  .sCardContainerEmpty{
   
 padding: 10px;
  }

  .emptyCardImage img{
    height: auto;
    width: auto;
    padding: 20px;
  }
 .emptyCardText h2{
  font-size: 14px;
  
 }

 .productTittel{
  font-size: 15px;

}
 

}


