.quantity-btn-plus {
    background-color: #392F5B; 
    border: none;
    color: white; 
    padding: 0; 
    font-size: 1rem; /* Büyük sembol için font boyutu */
    font-weight: 100; /* Kalınlık için */
    line-height: 1; /* Sembolün dikey hizalanması */
    
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
  }
  .plus {
    font-size: 4rem;
    font-family:emoji;
    color: #C8B479;
    
    
  }
  

  .quantity-btn-minus{
    background-color: #392F5B; 
    border: none;
    color: white; 
    padding: 0;
    font-weight: 100; /* Kalınlık için */
    /* Sembolün dikey hizalanması */
    
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
  }
  
  
    .minus{
            font-size: 4rem;
            font-family: math;
            color: #C8B479;
            transform: scale(2.2, 1); 
            
            
           
         
    }
  

  .quantity-container {
    
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .quantity-input {
    padding: 10px 20px;
    width: 55px;
    height: 55px;
    font-size: 1.8rem;
  }

  